{% load static %}
<!doctype html>
<html>
<head>
    <title>wxse</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href={% static 'css/bootstrap-5.0.0-beta3-dist/css/bootstrap.min.css' %}>
    <link rel="stylesheet" href={% static "css/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/simditor-2.3.28/styles/simditor.css" %}/>
    <script src={% static 'js/jquery/jquery-3.6.0.min.js' %}></script>
    <script src={% static 'js/popperjs/popper.min.js' %}></script>
    <script src={% static 'js/bootstrap-5.0.0-beta3-dist/js/bootstrap.min.js' %}></script>
    {#    <script type="text/javascript" src={% static "js/simple-module-master/dist/simple-module.js" %}></script>#}
    <script type="text/javascript" src={% static "js/simple-module-2.0.6/module.js" %}></script>
    <script type="text/javascript" src={% static "js/simple-hotkeys-master/hotkeys.js" %}></script>
    <script type="text/javascript" src={% static "js/simple-uploader-master/simple-uploader.js" %}></script>
    <script type="text/javascript" src={% static "js/simditor-2.3.28/simditor.js" %}></script>
    <script src={% static "css/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js" %}></script>
    <script src={% static "css/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js" %}></script>
    {% block customerhead %}
    {% endblock %}
</head>
{% block customermodle %}
{% endblock %}
{% block subTitle %}
{% endblock %}
<div>
    <div>
        {% block navbar %}
        {% endblock %}
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1" style="width:10%;float: left; background-color: #171f34">
                {% block sidebar %}
                {% endblock %}
            </div>
            <div class="col" style="width:90%;float: right;background-color: rgba(147,190,232,0.38)">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<div>
    {% block buttomContent %}
    {% endblock %}
</div>
{% block customerjs %}
{% endblock %}
{% block customerjs2 %}
{% endblock %}
</html>
