{% extends "baseHtml.html" %}
{% block sidebar %}

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/workbench/myworkbench">我的工作台</a>
        </li>
        漏洞管理
        <li class="nav-item">
            <a class="nav-link" href="/workbench/todomatters">待办事项 <span class="badge bg-primary rounded-pill">14</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/workbench/finishmatters">已办事项</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/workbench/closingmatters">办结事项</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/workbench/warningnotice">预警通告</a>
        </li>
        <hr>
        <div data-navbar="menu">

        </div>

    </ul>

{% endblock %}
{% block customerjs2 %}
    <script type="text/javascript">
        $(document).ready(function () {
            $.get("/workbench/navbarMenu", function (result) {
                var jsonarray = $.parseJSON(result);
                var autoMenuHtml = "";
                for (var i = 0; i < jsonarray.length; i++) {
                    autoMenuHtml += '<li class="nav-item">';
                    autoMenuHtml += '<a class="nav-link" href="' + jsonarray[i][1] + '">' + jsonarray[i][0] + '</a>';
                    autoMenuHtml += "</li>"
                }
                $("div [data-navbar='menu']").html(autoMenuHtml)
            })
        })
    </script>
{% endblock %}