{% extends "baseHtml.html" %}
{% block sidebar %}

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/workbench/myworkbench">我的工作台</a>
        </li>
        漏洞管理
        <li class="nav-item">
            <a class="nav-link" href="/workbench/todomatters">待办事项</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/workbench/finishmatters">已办事项</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/workbench/closingmatters">办结事项</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/workbench/warningnotice">预警通告</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/workbench/warningnotice/add">添加预警通告</a>
        </li>
    </ul>

{% endblock %}
