{% extends "baseHtml.html" %}
{% block navbar %}

    <div class="container-fluid bg-dark" style="background-color: #171f34">
        <div class="row">
            <div class="col-1" style="width:10%;">
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        用户
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                        <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-light" id="flushThisPage">刷新</button>
            </div>
            <div class="col-3">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/workbench/myworkbench">首页</a></li>
                    {% block topLinks %}
                    {% endblock %}
                </ol>
            </div>
            <div class="col-1">
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        新消息(0)
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                        <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-1">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a type="button" class="btn btn-outline-secondary" href="/accounts/logout">登出</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block sidebar %}

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/workbench/myworkbench">我的工作台</a>
        </li>
        漏洞管理
        <li class="nav-item">
            <a class="nav-link" href="/workbench/todomatters">待办事项 <span class="badge bg-primary rounded-pill">0</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/workbench/finishmatters">已办事项</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/workbench/closingmatters">办结事项</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/workbench/warningnotice">预警通告</a>
        </li>
        <hr>
        <div data-navbar="menu">

        </div>

    </ul>

{% endblock %}
{% block buttomContent %}
    <div class="container-fluid" style="background-color: #171f34">
        <div class="row">
            <div class="col-md-6 offset-md-8">
                <p id="lastLogin" style="color: #5c636a"></p>
            </div>
        </div>
    </div>
{% endblock %}
{% block customerjs2 %}
    <script type="text/javascript">
        $(document).ready(function () {
            $.get("/workbench/navbarMenu", function (result) {
                var jsonarray = $.parseJSON(result);
                var autoMenuHtml = "";
                for (var i = 0; i < jsonarray.length; i++) {
                    autoMenuHtml += '<li class="nav-item">';
                    autoMenuHtml += '<a class="nav-link" href="' + jsonarray[i][1] + '">' + jsonarray[i][0] + '</a>';
                    autoMenuHtml += "</li>"
                }
                $("div [data-navbar='menu']").html(autoMenuHtml)
            });
            $.get("/workbench/lastlogin", function (result) {
                var jsonarray = $.parseJSON(result);
                $('#lastLogin').text('上一次登录时间：' + jsonarray)
            });
            $('#flushThisPage').click(function () {
                window.location.reload()
            })
        })
    </script>
{% endblock %}