{% extends "mainHtml.html" %}
{% block topLinks %}
    <li class="breadcrumb-item active" aria-current="page">检察事项</li>
{% endblock %}
{% block customermodle %}


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">进度情况</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div id="progress-test" class="progress-bar" role="progressbar" style="width: 55%;"
                             aria-valuenow="25"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                    <div>
                        <p id="progress-value"></p>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="table-active">漏洞名称</td>
                            <td colspan="2">
                                <text id="vunerabilityname"></text>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-active">详细信息</td>
                            <td colspan="2">
                                <text id="vunerabilitydetail"></text>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-active">漏洞级别</td>
                            <td colspan="2">
                                <text id="vunerabilitylevel"></text>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-active">修复方法</td>
                            <td colspan="2">
                                <text id="vunerabilityrepair_method"></text>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-active">CVE</td>
                            <td colspan="2">
                                <text id="vunerabilitycve_num"></text>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-active">CNNVD</td>
                            <td colspan="2">
                                <text id="vunerabilitycnnvd_num"></text>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-active">时间</td>
                            <td colspan="2">
                                <text id="vunerabilitydtime"></text>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <hr>
                    <table class="table table-bordered">
                        <tbody id="autotables">
                        </tbody>
                    </table>
                    <div class="input-group">
                        <span class="input-group-text">添加备注</span>
                        <textarea class="form-control" aria-label="With textarea" id="notetext"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" data-dtid="{{ item.id }}" data-modify="pass">
                            验证通过
                        </button>
                        <button type="button" class="btn btn-danger" data-dtid="{{ item.id }}" data-modify="sendback">退回
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <form class="row g-3">
        <div class="col-auto">

            <input type="text" class="form-control" id="validationDefault01" placeholder="漏洞编号" required>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="validationDefault02" placeholder="URL路径" required>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="validationDefault02" placeholder="漏洞名称" required>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="validationDefault02" placeholder="影响业务" required>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="validationDefault02" placeholder="IP地址" required>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="validationDefault02" placeholder="联系人" required>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="validationDefault02" placeholder="组织机构" required>
        </div>

        <div class="col-auto">
            <select class="form-select" id="validationDefault04" required>
                <option selected disabled value="">超时状态</option>
                <option>...</option>
            </select>
        </div>
        <div class="col-auto">
            <select class="form-select" id="validationDefault04" required>
                <option selected disabled value="">请选择漏洞级别</option>
                <option>...</option>
            </select>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" type="submit">查询</button>
        </div>
    </form>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">漏洞编号</th>
            <th scope="col">漏洞名称</th>
            <th scope="col">影响业务</th>
            <th scope="col">漏洞级别</th>
            <th scope="col">处理进度</th>
            <th scope="col">截止时间</th>
            <th scope="col">联系人</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for item in checkMattersListPage %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ item.taskVulnerability__id }}</td>
                <td>{{ item.taskVulnerability__name }}</td>
                <td>{{ item.affectedServie }}</td>
                <td><span data-level="{{ item.taskVulnerability__level }}"></span></td>
                <td><span data-status="{{ item.status }}"></span></td>
                <td>{{ item.deadLine }}</td>
                <td>{{ item.taskUser__last_name }}{{ item.taskUser__first_name }}</td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop" data-modify="getdetail" data-tid="{{ item.id }}">
                        查看详情
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li>
            <li class="page-item">
                {% if checkMattersListPage.has_previous %}
                    <a class="page-link" href="?page={{ checkMattersListPage.previous_page_number }}">previous</a>
                {% endif %}
            </li>
            <li class="page-item"><a class="page-link"
                                     href="?page={{ checkMattersListPage.number }}">{{ checkMattersListPage.number }}</a>
            </li>
            {% if checkMattersListPage.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ checkMattersListPage.next_page_number }}">next</a>
                </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="?page={{ checkMattersListPage.paginator.num_pages }}"><span
                        aria-hidden="true">&raquo;</span></a>
            </li>
        </ul>
    </nav>
{% endblock %}
{% block customerjs %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("span").each(function () {
                if ($(this).data('level') == 0) {
                    $(this).removeClass();
                    $(this).addClass("badge bg-danger");
                    $(this).text('高危漏洞')
                } else if ($(this).data('level') == 1) {
                    $(this).removeClass();
                    $(this).addClass("badge bg-warning");
                    $(this).text('中危漏洞')
                } else if ($(this).data('level') == 2) {
                    $(this).removeClass();
                    $(this).addClass("badge bg-primary");
                    $(this).text('低危漏洞')
                }
                if ($(this).data('status') == 0) {
                    $(this).removeClass();
                    $(this).addClass("badge bg-primary");
                    $(this).text('录入')
                } else if ($(this).data('status') == 1) {
                    $(this).removeClass();
                    $(this).addClass("badge bg-primary");
                    $(this).text('已提交')
                } else if ($(this).data('status') == 2) {
                    $(this).removeClass();
                    $(this).addClass("badge bg-primary");
                    $(this).text('已下发')
                } else if ($(this).data('status') == 3) {
                    $(this).removeClass();
                    $(this).addClass("badge bg-warning");
                    $(this).text('已修复')
                } else if ($(this).data('status') == 4) {
                    $(this).removeClass();
                    $(this).addClass("badge bg-warning");
                    $(this).text('暂缓修复')
                } else if ($(this).data('status') == 5) {
                    $(this).removeClass();
                    $(this).addClass("badge bg-primary");
                    $(this).text('已校验')
                } else if ($(this).data('status') == 6) {
                    $(this).removeClass();
                    $(this).addClass("badge bg-primary");
                    $(this).text('已办结')
                } else if ($(this).data('status') == 7) {
                    $(this).removeClass();
                    $(this).addClass("badge bg-primary");
                    $(this).text('已完成')
                }
            });
            $("td button").click(function () {
                var tid = $(this).data("tid");
                var targetURL = "/workbench/checkmatters/getdetail?modify=getdetail&tid=" + tid
                $.get(targetURL, function (result) {
                    var jsonarray = $.parseJSON(result);
                    var progressBarStatus = jsonarray['statusProgressValue'][0];
                    var progressBarWidth = jsonarray['statusProgressValue'][1];
                    var progressAriaValuenow = jsonarray['statusProgressValue'][2];
                    var dtid = jsonarray['checkTask']['id'];
                    var vunerabilitydetail = jsonarray['checkTask']['taskVulnerability__name']
                    var vunerabilitydetail = jsonarray['checkTask']['taskUser__first_name']
                    var vunerabilitydetail = jsonarray['checkTask']['deadLine']
                    var vunerabilitydetail = jsonarray['checkTask']['affectedServie']

                    $("div.progress-bar").css({"width": progressBarWidth, "aria-valuenow": progressAriaValuenow});
                    $("#progress-value").text(progressBarStatus);
                    $("button[data-modify='sendback']").attr('data-dtid', dtid);
                    $("button[data-modify='pass']").attr('data-dtid', dtid);
                    $("#vunerabilityname").text()
                    $("#vunerabilitydetail").text()
                    $("#vunerabilitylevel").text()
                    $("#vunerabilityrepair_method").text()
                    $("#vunerabilitycve_num").text()
                    $("#vunerabilitycnnvd_num").text()
                    $("#vunerabilitydtime").text()
                    var progressNoteObj = jsonarray['progressNoteObj']
                    var autotableHtml = "";
                    for (var i = 0; i < progressNoteObj.length; i++) {
                        autotableHtml += "<tr>";
                        autotableHtml += "<td class='table-active'>备注人员</td>";
                        autotableHtml += "<td>" + progressNoteObj[i]['messageAuthor'] + "</td>"
                        autotableHtml += "<td class='table-active'>备注时间</td>";
                        autotableHtml += "<td>" + progressNoteObj[i]['messageDate'] + "</td>"
                        autotableHtml += "</tr>";
                        autotableHtml += "<tr>";
                        autotableHtml += "<td class='table-active'>备注</td>";
                        autotableHtml += "</tr>";
                        autotableHtml += "<tr>";
                        autotableHtml += "<td>" + progressNoteObj[i]['messageDetail'] + "</td>";
                        autotableHtml += "</tr>";
                    }
                    $("#autotables").html(autotableHtml)

                })
            });

            //
            $("div button").click(function () {
                var dtid = $(this).data("dtid");
                var modify = $(this).data("modify");
                var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

                if (modify == 'pass') {
                    data = {
                        csrfmiddlewaretoken: csrftoken,
                        dtid: dtid,
                        modify: 'pass',
                    };
                    $.post("/workbench/checkmatters/pass", data, function (result) {
                            var jsonarray = $.parseJSON(result);
                            var targetdtid = "td button[data-tid=" + jsonarray["tid"] + "]";
                            $(targetdtid).parent().parent().parent().remove();
                        }
                    );
                } else if (modify == 'sendback') {
                    data = {
                        csrfmiddlewaretoken: csrftoken,
                        dtid: dtid,
                        modify: 'sendback',
                    };
                    $.post("/workbench/checkmatters/sendback", data, function (result) {
                            var jsonarray = $.parseJSON(result);
                            var targetdtid = "td button[data-tid=" + jsonarray["tid"] + "]";
                            $(targetdtid).parent().parent().parent().remove();
                        }
                    );
                } else if (modify == 'change') {
                    data = {
                        csrfmiddlewaretoken: csrftoken,
                        dtid: dtid,
                        modify: 'get',
                    };
                    $.get("/workbench/releasematters/getdetil", data, function (result) {

                            var jsonarray = $.parseJSON(result);


                            $("#mtitle").text(jsonarray['queryresult'][0]['programName']);
                            $("#programName").val(jsonarray['queryresult'][0]['programName']);
                            $("#startDate").val(jsonarray['queryresult'][0]['startDate']);
                            $("#endDate").val(jsonarray['queryresult'][0]['endDate']);
                            $("#inPutStream").val(jsonarray['queryresult'][0]['inPutStream']);
                            $("#inPutStreamSub").val(jsonarray['queryresult'][0]['inPutStreamSub']);
                            $("#adminStaff").val(jsonarray['queryresult'][0]['adminStaff']);
                            $("#notes").val(jsonarray['queryresult'][0]['notes']);

                            var programChannel = jsonarray['queryresult'][0]['programChannel'];
                            $("#programChannel option").each(function () {
                                if ($(this).text() == programChannel) {
                                    $(this).prop("selected", 'selected');
                                }
                            });


                            var isLive = jsonarray['queryresult'][0]['isLive'];
                            if (isLive == true) {
                                $("#isLive").prop('checked', 'true');
                                $("#isLive").val('true');
                            }
                            var isRecode = jsonarray['queryresult'][0]['isRecode'];
                            if (isRecode == true) {
                                $("#isRecode").prop('checked', 'true');
                                $("#isRecode").val('true');
                            }
                            var adminStafflist = jsonarray['staffquery'];
                            var adminStaff = jsonarray['queryresult'][0]['adminStaff'];
                            if ($("#adminStaff option").length == 0) {
                                for (i in adminStafflist) {
                                    if (adminStafflist[i]['id'] == adminStaff) {
                                        $("#adminStaff").append("<option value=" + adminStafflist[i]['id'] + " selected>" + adminStafflist[i]['staffName'] + "</option>");
                                    } else {
                                        $("#adminStaff").append("<option value=" + adminStafflist[i]['id'] + ">" + adminStafflist[i]['staffName'] + "</option>");
                                    }

                                }
                            }
                            //$("#adminStaff option").each(function () {
                            //   if ($(this).text() == adminStaff) {
                            //     $(this).prop("selected", 'selected');
                            //  }
                            // });


                            $("button[data-modify='postchange']").attr('data-wid', wid);
                            $("button[data-modify='postchange']").attr('data-tid', tid);

                        }
                    );
                } else if (modify == 'postchange') {
                    var programName = $("#programName").val();
                    var startDate = $("#startDate").val();
                    var endDate = $("#endDate").val();
                    var inPutStream = $("#inPutStream").val();
                    var inPutStreamSub = $("#inPutStreamSub").val();
                    var notes = $("#notes").val();
                    var programChannel = $("#programChannel").val();
                    var isLive = $("#isLive").is(':checked');
                    var isRecode = $("#isRecode").is(':checked');
                    var adminStaff = $("#adminStaff").val();

                    postdata = {
                        csrfmiddlewaretoken: csrftoken,
                        tid: tid,
                        wid: wid,
                        programName: programName,
                        startDate: startDate,
                        endDate: endDate,
                        inPutStream: inPutStream,
                        inPutStreamSub: inPutStreamSub,
                        notes: notes,
                        programChannel: programChannel,
                        isLive: isLive,
                        isRecode: isRecode,
                        adminStaff: adminStaff,
                        modify: 'change',
                    }
                    ;
                    $.post("/workbench/releasematters/change", postdata, function (result) {
                        if (result == 'success') {
                            window.location.reload()
                        } else if (result == 'error') {
                            alert(result)
                        }
                    })
                }
            });
            //
        })
    </script>
{% endblock %}