{% extends "baseHtml.html" %}

{% block conent %}
    <div class="container">
        <div class="col-md-4">
            <div class="panel  panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">待办事项 <small>查看更多</small></h3>
                </div>
                <div class="panel-body text-center">
                    目前没有代办任务
                </div>
                <div class="panel-body text-center">
                    查看更多
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">已办事项 <small>查看更多</small></h3>
                </div>
                <div class="panel-body text-center">
                    已办结漏洞共项
                </div>
                <div class="panel-body text-center">
                    进入查看
                </div>
            </div>
        </div>
    </div>

{% endblock %}