{% extends "mainHtml.html" %}
{% block topLinks %}
    <li class="breadcrumb-item active" aria-current="page">我的工作台</li>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 gy-5">

                <div class="card">
                    <div class="card-header">待办事项 <small>查看更多</small></div>
                    <div class="card-body">
                        <p class="card-text text-center">{{ upcomingTasks }}</p>
                        <a href="/workbench/todomatters" class="btn btn-primary">查看更多</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 gy-5">
                <div class="card">
                    <div class="card-header">已办事项 <small>查看更多</small></div>
                    <div class="card-body">
                        <p class="card-text text-center">已办结漏洞共{{ finishTasks }}项</p>
                        <a href="/workbench/closingmatters" class="btn btn-primary">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}