{% extends "mainHtml.html" %}
{% block customermodle %}


    <!-- Modal -->
    <div class="modal fade " id="myModalrelease" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">新增任务</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3">
                        {% csrf_token %}
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label for="vulnerabilityName" class="col-form-label">漏洞名称</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" id="vulnerabilityName" class="form-control">
                            </div>
                            <div class="col-auto">
                                <label for="vulnerabilityDtime" class="col-form-label">截止时间</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" class="form-control" id="vulnerabilityDtime" placeholder="">
                            </div>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label for="CVEserialNumber" class="col-form-label">CVE编号</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" class="form-control" id="CVEserialNumber" placeholder="CVE编号"
                                       required>
                            </div>
                            <div class="col-auto">
                                <label for="CNNVDserialNumber" class="col-form-label">CNNVD编号</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" class="form-control" id="CNNVDserialNumber" placeholder="CNNVD编号"
                                       required>
                            </div>
                            <div class="col-auto">
                                <label for="vulnerabilityLevel" class="col-form-label">严重级别</label>
                            </div>
                            <div class="col-auto">
                                <select class="form-select" aria-label="Default select example" id="vulnerabilityLevel">
                                    <option selected disabled value="">请选择漏洞级别</option>
                                    <option value="0">高危漏洞</option>
                                    <option value="1">中危漏洞</option>
                                    <option value="2">低危漏洞</option>
                                </select>
                            </div>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label for="vulnerabilityDetail" class="col-form-label">描述</label>
                            </div>
                            <div class="col-auto">
                                <textarea type="text" class="form-control" id="vulnerabilityDetail" placeholder="描述"
                                          required></textarea>
                            </div>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label for="vulnerabilityrepairMethod" class="col-form-label">修复方式</label>
                            </div>
                            <div class="col-auto">
                                <textarea type="text" class="form-control" id="vulnerabilityrepairMethod"
                                          rows="3"></textarea>
                            </div>

                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label for="affectedStaff" class="col-form-label">关联人员</label>
                            </div>
                            <div class="col-auto">
                                {% for users in userList %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="{{ users.id }}"
                                               id="{{ users.id }}">
                                        <label class="form-check-label" for="{{ users.id }}">
                                            {{ users.last_name }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label for="affectedServie" class="col-form-label">影响业务</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" class="form-control" id="affectedServie" placeholder="影响业务" required>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-auto">
                        <button id="releaseMattersAdd" class="btn btn-primary" type="submit" data-bs-dismiss="modal">
                            新增
                        </button>
                    </div>
                    {#                    <button type="button" class="btn btn-primary">Understood</button>#}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade " id="myModalcheck" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">查看任务</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3">
                        {% csrf_token %}
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label for="vulnerabilityNameCheck" class="col-form-label">漏洞名称</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" id="vulnerabilityNameCheck" class="form-control">
                            </div>
                            <div class="col-auto">
                                <label for="vulnerabilityDtimeCheck" class="col-form-label">截止时间</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" class="form-control" id="vulnerabilityDtimeCheck" placeholder="">
                            </div>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label for="CVEserialNumberCheck" class="col-form-label">CVE编号</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" class="form-control" id="CVEserialNumberCheck" placeholder="CVE编号"
                                       required>
                            </div>
                            <div class="col-auto">
                                <label for="CNNVDserialNumberCheck" class="col-form-label">CNNVD编号</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" class="form-control" id="CNNVDserialNumberCheck"
                                       placeholder="CNNVD编号"
                                       required>
                            </div>
                            <div class="col-auto">
                                <label for="vulnerabilityLevelCheck" class="col-form-label">严重级别</label>
                            </div>
                            <div class="col-auto">
                                <select class="form-select" aria-label="Default select example"
                                        id="vulnerabilityLevelCheck">
                                    <option selected disabled value="">请选择漏洞级别</option>
                                    <option value="0">高危漏洞</option>
                                    <option value="1">中危漏洞</option>
                                    <option value="2">低危漏洞</option>
                                </select>
                            </div>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label for="vulnerabilityDetailCheck" class="col-form-label">描述</label>
                            </div>
                            <div class="col-auto">
                                <div id="vulnerabilityDetailCheck" placeholder="描述"></div>
                            </div>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label for="vulnerabilityrepairMethodCheck" class="col-form-label">修复方式</label>
                            </div>
                            <div class="col-auto">
                                <div id="vulnerabilityrepairMethodCheck" rows="3"></div>
                            </div>

                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label for="affectedStaffCheck" class="col-form-label">关联人员</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" class="form-control" id="affectedStaffCheck">
                            </div>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label for="affectedServieCheck" class="col-form-label">影响业务</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" class="form-control" id="affectedServieCheck" placeholder="影响业务"
                                       required>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    {#                    <div class="col-auto">#}
                    {#                        <button id="releaseMattersAdd" class="btn btn-primary" type="submit" data-bs-dismiss="modal">#}
                    {#                            新增#}
                    {#                        </button>#}
                    {#                    </div>#}
                    {#                    <button type="button" class="btn btn-primary">Understood</button>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">url1</a></li>
                <li class="breadcrumb-item"><a href="#">url2</a></li>
                <li class="breadcrumb-item active" aria-current="page">url3</li>
            </ol>
        </nav>
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#myModalrelease" data-wid="{{ item.id }}">
        新增
    </button>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">漏洞编号</th>
            <th scope="col">漏洞名称</th>
            <th scope="col">影响业务</th>
            <th scope="col">漏洞级别</th>
            <th scope="col">IP地址</th>
            <th scope="col">IP端口</th>
            <th scope="col">联系人</th>
            <th scope="col">截止时间</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for item in waitToReleaseMattersPage %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ item.taskVulnerability__id }}</td>
                <td>{{ item.taskVulnerability__name }}</td>
                <td>{{ item.affectedServie }}</td>
                <td>
                    <span data-level="{{ item.taskVulnerability__level }}"></span>
                </td>
                <td>-</td>
                <td>-</td>
                <td>{{ item.taskUser__last_name }}{{ item.taskUser__first_name }}</td>
                <td>{{ item.deadLine }}</td>

                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                data-bs-target="#myModalcheck" data-tid="{{ item.id }}" data-modify="check">查看任务
                        </button>
                        <button type="button" class="btn btn-primary" data-tid="{{ item.id }}" data-modify="release">
                            下发任务
                        </button>
                        <button type="button" class="btn btn-danger" data-tid="{{ item.id }}" data-modify="delete">
                            删除任务
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li>
            <li class="page-item">
                {% if waitToReleaseMattersPage.has_previous %}
                    <a class="page-link" href="?page={{ waitToReleaseMattersPage.previous_page_number }}">previous</a>
                {% endif %}
            </li>
            <li class="page-item"><a class="page-link"
                                     href="?page={{ waitToReleaseMattersPage.number }}">{{ waitToReleaseMattersPage.number }}</a>
            </li>
            {% if waitToReleaseMattersPage.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ waitToReleaseMattersPage.next_page_number }}">next</a>
                </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="?page={{ waitToReleaseMattersPage.paginator.num_pages }}"><span
                        aria-hidden="true">&raquo;</span></a>
            </li>
        </ul>
    </nav>
{% endblock %}
{% block customerjs %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#vulnerabilityDtime').datetimepicker({
                forceParse: 0,
                format: 'yyyy-mm-dd hh:mm:ss',
                language: 'zh-CN',
                pickTime: false,
                initialDate: new Date(),
                todayBtn: true,
            });
            $("span").each(function () {
                    if ($(this).data('level') == 0) {
                        $(this).removeClass();
                        $(this).addClass("badge bg-danger");
                        $(this).text('高危漏洞')
                    } else if ($(this).data('level') == 1) {
                        $(this).removeClass();
                        $(this).addClass("badge bg-warning");
                        $(this).text('中危漏洞')
                    } else if ($(this).data('level') == 2) {
                        $(this).removeClass();
                        $(this).addClass("badge bg-primary");
                        $(this).text('低危漏洞')
                    }
                }
            );
            var myModal = document.getElementById('myModalrelease')
            var myInput = document.getElementById('myInput')
            var editor = new Simditor({
                textarea: $('#vulnerabilityrepairMethod'),
                toolbar: ['bold', 'italic', 'underline', 'strikethrough', 'color', 'ol', 'ul', 'code', 'link', 'image', 'hr', 'alignment'],
                toolbarFloat: true, upload: {
                    url: "/savePicture.do",
                    fileKey: "upload_file"
                }
            });
            var vulnerabilityDetailEditor = new Simditor({
                textarea: $('#vulnerabilityDetail'),
                toolbar: ['bold', 'italic', 'underline', 'strikethrough', 'color', 'ol', 'ul', 'code', 'link', 'image', 'hr', 'alignment'],
                toolbarFloat: true, upload: {
                    url: "/savePicture.do",
                    fileKey: "upload_file"
                }
            });

            $("#releaseMattersAdd").click(function () {
                {#var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();#}
                var vulnerabilityName = $("#vulnerabilityName").val();
                var vulnerabilityDtime = $("#vulnerabilityDtime").val();
                var CVEserialNumber = $("#CVEserialNumber").val();
                var CNNVDserialNumber = $("#CNNVDserialNumber").val();
                var vulnerabilityLevel = $("#vulnerabilityLevel").val();
                var vulnerabilityrepairMethod = $("#vulnerabilityrepairMethod").val();
                var vulnerabilityDetail = $("#vulnerabilityDetail").val();
                var affectedServie = $("#affectedServie").val();
                var uids = '';
                $("input[type='checkbox']").each(function () {
                    //$("input:checkbox").each(function () {
                    if ($(this).prop("checked") == true) {
                        uids += $(this).val() + ',';
                    }
                });
                data = {

                    vulnerabilityName: vulnerabilityName,
                    vulnerabilityDtime: vulnerabilityDtime,
                    CVEserialNumber: CVEserialNumber,
                    CNNVDserialNumber: CNNVDserialNumber,
                    vulnerabilityLevel: vulnerabilityLevel,
                    vulnerabilityrepairMethod: vulnerabilityrepairMethod,
                    affectedServie: affectedServie,
                    vulnerabilityDetail: vulnerabilityDetail,
                    uids: uids,
                };
                $.post("/workbench/releasematters", data, function (result) {
                })
            });

            //
            $("td button").click(function () {
                var tid = $(this).data("tid");
                var modify = $(this).data("modify");
                var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

                if (modify == 'delete') {
                    data = {
                        csrfmiddlewaretoken: csrftoken,
                        tid: tid,
                        modify: 'delete',
                    };
                    $.post("/workbench/releasematters/delete", data, function (result) {
                            var jsonarray = $.parseJSON(result);
                            var targetwid = "button[data-tid=" + jsonarray["tid"] + "]";
                            $(targetwid).parent().parent().parent().remove();
                        }
                    );
                } else if (modify == 'release') {
                    data = {
                        csrfmiddlewaretoken: csrftoken,
                        tid: tid,
                        modify: 'release',
                    };
                    $.post("/workbench/releasematters/release", data, function (result) {
                            var jsonarray = $.parseJSON(result);
                            var targetwid = "button[data-tid=" + jsonarray["tid"] + "]";
                            $(targetwid).parent().parent().parent().remove();
                        }
                    );
                } else if (modify == 'check') {
                    var tid = $(this).data("tid");
                    data = {
                        csrfmiddlewaretoken: csrftoken,
                        tid: tid,
                        modify: 'check',
                    };
                    $.post("/workbench/releasematters/check", data, function (result) {
                        var jsonarray = $.parseJSON(result);
                        $("#vulnerabilityNameCheck").val(jsonarray['queryresult'][0]['taskVulnerability__name']);
                        $("#vulnerabilityDtimeCheck").val(jsonarray['queryresult'][0]['taskVulnerability__dtime']);
                        $("#CVEserialNumberCheck").val(jsonarray['queryresult'][0]['taskVulnerability__cve_num']);
                        $("#CNNVDserialNumberCheck").val(jsonarray['queryresult'][0]['taskVulnerability__cnnvd_num']);
                        $("#vulnerabilityLevelCheck").val(jsonarray['queryresult'][0]['taskVulnerability__level']);
                        $("#vulnerabilityrepairMethodCheck").html(jsonarray['queryresult'][0]['taskVulnerability__repair_method']);
                        $("#vulnerabilityDetailCheck").html(jsonarray['queryresult'][0]['taskVulnerability__detail']);
                        $("#affectedServieCheck").val(jsonarray['queryresult'][0]['affectedServie']);
                        $("#affectedStaffCheck").val(jsonarray['queryresult'][0]['taskUser__last_name'] + jsonarray['queryresult'][0]['taskUser__first_name']);
                    })
                }
            });
        })
    </script>
{% endblock %}