{% extends "mainHtml.html" %}
{% block customermodle %}


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">查看详情</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="table-active">漏洞名称</td>
                            <td colspan="2">
                                <text id="vunerabilityname"></text>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-active">详细信息</td>
                            <td colspan="2">
                                <text id="vunerabilitydetail"></text>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-active">漏洞级别</td>
                            <td colspan="2">
                                <text id="vunerabilitylevel"></text>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-active">修复方法</td>
                            <td colspan="2">
                                <text id="vunerabilityrepair_method"></text>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-active">CVE</td>
                            <td colspan="2">
                                <text id="vunerabilitycve_num"></text>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-active">CNNVD</td>
                            <td colspan="2">
                                <text id="vunerabilitycnnvd_num"></text>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-active">时间</td>
                            <td colspan="2">
                                <text id="vunerabilitydtime"></text>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <tbody id="autotables">
                        </tbody>
                    </table>

                    <div class="input-group">
                        <span class="input-group-text">添加备注</span>
                        <textarea class="form-control" aria-label="With textarea" id="notetext"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <form action="/workbench/todomatters" method="post">

                        {% csrf_token %}
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="waitingtofix" data-modify='actions'>暂缓修复
                        </button>
                        <button type="button" class="btn btn-primary" id="fixed" data-modify='actions'>修复完成</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">url1</a></li>
                <li class="breadcrumb-item"><a href="#">url2</a></li>
                <li class="breadcrumb-item active" aria-current="page">url3</li>
            </ol>
        </nav>
    </div>
    <form class="row g-3">
        <div class="col-auto">

            <input type="text" class="form-control" id="validationDefault01" placeholder="漏洞编号" required>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="validationDefault02" placeholder="URL路径" required>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="validationDefault03" placeholder="漏洞名称" required>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="validationDefault02" placeholder="影响业务" required>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="validationDefault02" placeholder="IP地址" required>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="validationDefault02" placeholder="联系人" required>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="validationDefault02" placeholder="组织机构" required>
        </div>
        <div class="col-auto">
            <select class="form-select" id="validationDefault04" required>
                <option selected disabled value="">请选择漏洞级别</option>
                <option value="0">高危漏洞</option>
                <option value="1">中危漏洞</option>
                <option value="2">低危漏洞</option>
            </select>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" type="submit">查询</button>
        </div>
    </form>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">漏洞编号</th>
            <th scope="col">漏洞名称</th>
            <th scope="col">影响业务</th>
            <th scope="col">漏洞级别</th>
            <th scope="col">IP地址</th>
            {#            <th scope="col">IP端口</th>#}
            {#            <th scope="col">联系人</th>#}
            {#            <th scope="col">暂缓修复</th>#}
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for item in toDtasksPage %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ item.taskVulnerability__id }}</td>
                <td>{{ item.taskVulnerability__name }}</td>
                <td>{{ item.taskVulnerability__professionalwork__workName }}</td>
                <td><span data-level="{{ item.taskVulnerability__level }}"></span></td>
                <td>{{ item.taskAffectIP__ip }}</td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop" data-tid="{{ item.id }}">
                        查看详情
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li>
            <li class="page-item">
                {% if toDtasksPage.has_previous %}
                    <a class="page-link" href="?page={{ toDtasksPage.previous_page_number }}">previous</a>
                {% endif %}
            </li>
            <li class="page-item"><a class="page-link"
                                     href="?page={{ toDtasksPage.number }}">{{ toDtasksPage.number }}</a></li>
            {% if toDtasksPage.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ toDtasksPage.next_page_number }}">next</a>
                </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="?page={{ toDtasksPage.paginator.num_pages }}"><span aria-hidden="true">&raquo;</span></a>
            </li>
        </ul>
    </nav>
{% endblock %}
{% block customerjs %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("span").each(function () {
                    if ($(this).data('level') == 0) {
                        $(this).removeClass();
                        $(this).addClass("badge bg-danger");
                        $(this).text('高危漏洞')
                    } else if ($(this).data('level') == 1) {
                        $(this).removeClass();
                        $(this).addClass("badge bg-warning");
                        $(this).text('中危漏洞')
                    } else if ($(this).data('level') == 2) {
                        $(this).removeClass();
                        $(this).addClass("badge bg-primary");
                        $(this).text('低危漏洞')
                    }
                }
            );

            $.ajaxSetup({
                headers:
                    {'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')}
            });
            $("button[id=waitingtofix]").click(function () {
                var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                var tid = $(this).data("tid");
                var notetext = $('#notetext').val()
                data = {
                    csrftoken: csrftoken,
                    action: 0,
                    tid: tid,
                    notetext: notetext,
                };
                $.post("/workbench/todomatters", data, function (result) {
                })
            });
            $("button[id=fixed]").click(function () {
                var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                {#var csrftoken = Cookies.get('csrftoken');#}
                var notetext = $('#notetext').val()
                var tid = $(this).data("tid");
                data = {
                    csrftoken: csrftoken,
                    action: 1,
                    tid: tid,
                    notetext: notetext,
                };
                $.post("/workbench/todomatters", data, function (result) {
                })
            });
            $("td button").click(function () {
                var tid = $(this).data("tid");
                $("button[data-modify='actions']").attr('data-tid', tid);
                var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                data = {
                    tid: tid,
                };
                $.get("/workbench/todomattersdetail", data, function (result) {
                    var jsonarray = $.parseJSON(result);
                    {#alert(jsonarray['queryProfessionsalWrokResult']);#}
                    $("#vunerabilityname").text(jsonarray['queryResult'][0]['name']);
                    $("#vunerabilitydetail").text(jsonarray['queryResult'][0]['detail']);
                    $("#vunerabilitylevel").text(jsonarray['queryResult'][0]['level']);
                    $("#vunerabilityrepair_method").text(jsonarray['queryResult'][0]['repair_method']);
                    $("#vunerabilitycve_num").text(jsonarray['queryResult'][0]['cve_num']);
                    $("#vunerabilitycnnvd_num").text(jsonarray['queryResult'][0]['cnnvd_num']);
                    $("#vunerabilitydtime").text(jsonarray['queryResult'][0]['dtime']);
                    var progressNoteObj = jsonarray['progressNoteObj']
                    var autotableHtml = "";
                    for (var i = 0; i < progressNoteObj.length; i++) {
                        autotableHtml += "<tr>";
                        autotableHtml += "<td class='table-active'>备注人员</td>";
                        autotableHtml += "<td>" + progressNoteObj[i]['messageAuthor'] + "</td>"
                        autotableHtml += "<td class='table-active'>备注时间</td>";
                        autotableHtml += "<td>" + progressNoteObj[i]['messageDate'] + "</td>"
                        autotableHtml += "</tr>";
                        autotableHtml += "<tr>";
                        autotableHtml += "<td class='table-active'>备注</td>";
                        autotableHtml += "</tr>";
                        autotableHtml += "<tr>";
                        autotableHtml += "<td>" + progressNoteObj[i]['messageDetail'] + "</td>";
                        autotableHtml += "</tr>";
                    }
                    $("#autotables").html(autotableHtml)
                });
            });
        })
    </script>
{% endblock %}