{% extends "mainHtml.html" %}
{% block content %}
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">url1</a></li>
                <li class="breadcrumb-item"><a href="#">url2</a></li>
                <li class="breadcrumb-item active" aria-current="page">url3</li>
            </ol>
        </nav>
    </div>
    <form class="row g-3">
        <div class="col-auto">

            <input type="text" class="form-control" id="validationDefault01" placeholder="通告编号" required>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="datetimepicker01" placeholder="通告时间" required>
        </div>
        <div class="col-auto">

            <input type="text" class="form-control" id="validationDefault01" placeholder="通告名称" required>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="validationDefault02" placeholder="严重级别" required>
        </div>
        <div class="col-auto">

            <input type="text" class="form-control" id="validationDefault01" placeholder="CVE编号" required>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="validationDefault02" placeholder="CNNVD编号" required>
        </div>
        <div class="col-auto">

            <input type="text" class="form-control" id="validationDefault01" placeholder="影响厂商" required>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" type="submit">新增</button>
        </div>
    </form>
{% endblock %}
{% block customerjs %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datetimepicker01').datetimepicker({
                forceParse:0,
                format: 'yyyy/mm/dd hh:mm:ss',
                language: 'zh-CN',
                pickTime: false,
                initialDate:new Date(),
                todayBtn:true,
            });
        })
    </script>
{% endblock %}