{% extends "mainHtml.html" %}
{% block topLinks %}
    <li class="breadcrumb-item active" aria-current="page">添加预警通告</li>
{% endblock %}
{% block content %}
    <form class="row g-3">
        {% csrf_token %}
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="noticeNum" class="col-form-label">通告编号</label>
            </div>
            <div class="col-auto">
                <input type="text" id="noticeNum" class="form-control">
            </div>
            <div class="col-auto">
                <label for="noticeDate" class="col-form-label">通告时间</label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="noticeDate" required>
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="noticeName" class="col-form-label">通告名称</label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="noticeName" required>
            </div>
            <div class="col-auto">
                <label for="noticeLevel" class="col-form-label">严重级别</label>
            </div>
            <div class="col-auto">
                <select class="form-select" aria-label="Default select example" id="noticeLevel">
                    <option selected disabled value="">请选择漏洞级别</option>
                    <option value="0">高危漏洞</option>
                    <option value="1">中危漏洞</option>
                    <option value="2">低危漏洞</option>
                </select>
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="CVEserialNumber" class="col-form-label">CVE编号</label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="CVEserialNumber" required>
            </div>
            <div class="col-auto">
                <label for="CNNVDserialNumber" class="col-form-label">CNNVD编号</label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="CNNVDserialNumber" required>
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="affectedVendor" class="col-form-label">影响厂商</label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="affectedVendor" required>
            </div>
        </div>

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="noticeDetail" class="col-form-label">通告描述</label>
            </div>
            <div class="col-auto">
                <textarea type="text" class="form-control" id="noticeDetail" required></textarea>
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="uploadNote" class="col-form-label">上传附件</label>
            </div>
            <div class="col-auto">
                <div class="input-group">
                    <input type="file" class="form-control" id="uploadNote"
                           aria-label="Upload" data-filesID="">
                    <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAdd">上传</button>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <button id="warningNoticeAdd" class="btn btn-primary" type="submit">新增</button>
        </div>
    </form>
{% endblock %}
{% block customerjs %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#noticeDate').datetimepicker({
                forceParse: 0,
                format: 'yyyy-mm-dd hh:mm:ss',
                language: 'zh-CN',
                pickTime: false,
                initialDate: new Date(),
                todayBtn: true,
            });
            var editor = new Simditor({
                textarea: $('#noticeDetail')
                //optional options
            });
            $('#inputGroupFileAdd').click(function () {
                var filedict = new FormData();
                filedict.append("fileName", $('#uploadNote').val().split('\\').pop());
                filedict.append("fileContent", document.getElementById('uploadNote').files[0]);
                $.ajax({
                    url: '/workbench/upload',
                    type: 'post',
                    data: filedict,
                    processData: false,
                    contentType: false,
                    dataType: 'JSON',
                    success: function (result) {
                        {#alert(result['FilesID'])#}
                        {#var FilesResult = $.parseJSON(result);#}
                        $('#uploadNote').attr('data-filesID', result["FilesID"]);
                    }
                });
            });
            $("button[id=warningNoticeAdd]").click(function () {
                var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                var noticeNum = $("#noticeNum").val();
                var noticeName = $("#noticeName").val();
                var noticeDate = $("#noticeDate").val();
                var noticeLevel = $("#noticeLevel").val();
                var CVEserialNumber = $("#CVEserialNumber").val();
                var CNNVDserialNumber = $("#CNNVDserialNumber").val();
                var affectedVendor = $("#affectedVendor").val();
                {#var affectedComponent = $("#programChannel").val();#}
                var noticeDetail = $("#noticeDetail").val();
                var uploadNote = $('#uploadNote').attr('data-filesID')
                data = {
                    csrftoken: csrftoken,
                    noticeNum: noticeNum,
                    noticeName: noticeName,
                    noticeDate: noticeDate,
                    noticeLevel: noticeLevel,
                    CVEserialNumber: CVEserialNumber,
                    CNNVDserialNumber: CNNVDserialNumber,
                    affectedVendor: affectedVendor,
                    noticeDetail: noticeDetail,
                    uploadNote: uploadNote,
                };
                $.post("/workbench/warningnotice/add", data, function (result) {
                })
            });
        })
    </script>
{% endblock %}