{% extends "mainHtml.html" %}
{% block customermodle %}


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">查看</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3">
                        <div class="col-auto">
                            <label for="noticeName" class="form-label">通告名称</label>
                            <input type="text" class="form-control" id="noticeName" placeholder="漏洞编号"
                                   disabled readonly>
                        </div>
                        <div class="col-auto">
                            <label for="noticeLevel" class="form-label">严重级别</label>
                            <input type="text" class="form-control" id="noticeLevel" placeholder="通告名称"
                                   required>
                        </div>
                        <div class="col-auto">
                            <label for="CVEserialNumber" class="form-label">CVE编号</label>
                            <input type="text" class="form-control" id="CVEserialNumber" placeholder="漏洞编号"
                                   disabled readonly>
                        </div>
                        <div class="col-auto">
                            <label for="CNNVDserialNumber" class="form-label">CNNVD编号</label>
                            <input type="text" class="form-control" id="CNNVDserialNumber" placeholder="通告名称"
                                   required>
                        </div>
                        <div class="col-auto">
                            <label for="affectedVendor" class="form-label">影响厂商</label>
                            <input type="text" class="form-control" id="affectedVendor" placeholder="漏洞编号"
                                   disabled readonly>
                        </div>
                        <div class="col-auto">
                            <label for="validationCustom01" class="form-label">影响组件</label>
                            <input type="text" class="form-control" id="validationDefault02" placeholder="通告名称"
                                   required>
                        </div>
                        <div class="col-auto">
                            <label for="noticeDate" class="form-label">通告时间</label>
                            <input type="text" class="form-control" id="noticeDate" placeholder="漏洞编号"
                                   disabled readonly>
                        </div>
                        <div class="col-auto">
                            <label for="validationCustom01" class="form-label">通告人员</label>
                            <input type="text" class="form-control" id="validationDefault02" placeholder="通告名称"
                                   required>
                        </div>
                        <div class="col-auto">
                            <label for="validationCustom01" class="form-label">通告描述</label>
                            <input type="text" class="form-control" id="validationDefault01" placeholder="漏洞编号"
                                   disabled readonly>
                        </div>
                        <div class="col-auto">
                            <label for="validationCustom01" class="form-label">附件</label>
                            <input type="text" class="form-control" id="validationDefault02" placeholder="通告名称"
                                   required>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary" type="submit">下载</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">url1</a></li>
                <li class="breadcrumb-item"><a href="#">url2</a></li>
                <li class="breadcrumb-item active" aria-current="page">url3</li>
            </ol>
        </nav>
    </div>
    <form class="row g-3" action="/workbench/warningnotice" method="get">
        <div class="col-auto">

            <input type="text" class="form-control" id="validationDefault01" name="noticeNumQuery" placeholder="漏洞编号" >
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="validationDefault02" name="noticeNameQuery" placeholder="通告名称" >
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" type="submit" id="queryDetail">查询</button>
        </div>
    </form>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">通告编号</th>
            <th scope="col">通告时间</th>
            <th scope="col">通告名称</th>
            <th scope="col">严重级别</th>
            <th scope="col">CVE编号</th>
            <th scope="col">CNNVD编号</th>
            <th scope="col">影响厂商</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for item in warningNoticeResult %}
            <tr>
                <th scope="col">{{ item.id }}</th>
                <th scope="col">{{ item.noticeDate }}</th>
                <th scope="col">{{ item.noticeName }}</th>
                <th scope="col">{{ item.noticeLevel }}</th>
                <th scope="col">{{ item.CVEserialNumber }}</th>
                <th scope="col">{{ item.CNNVDserialNumber }}</th>
                <th scope="col">{{ item.affectedVendor }}</th>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop" data-wid="{{ item.id }}">
                        查看详情
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block customerjs %}
    <script type="text/javascript">
        $(document).ready(function () {
            var myModal = document.getElementById('myModal')
            var myInput = document.getElementById('myInput')

            $("td button").click(function () {
                var wid = $(this).data("wid");
                var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                data = {
                    csrfmiddlewaretoken: csrftoken,
                    wid: wid,
                };
                $.post("/workbench/warningnotice", data, function (result) {
                    var jsonarray = $.parseJSON(result);
                    $("#noticeNum").text(jsonarray['queryresult'][0]['noticeNum']);
                    $("#noticeName").val(jsonarray['queryresult'][0]['noticeName']);
                    $("#noticeDate").val(jsonarray['queryresult'][0]['noticeDate']);
                    $("#noticeLevel").val(jsonarray['queryresult'][0]['noticeLevel']);
                    $("#CVEserialNumber").val(jsonarray['queryresult'][0]['CVEserialNumber']);
                    $("#CNNVDserialNumber").val(jsonarray['queryresult'][0]['CNNVDserialNumber']);
                    $("#affectedVendor").val(jsonarray['queryresult'][0]['affectedVendor']);
                })
            });
            myModal.addEventListener('shown.bs.modal', function () {
                myInput.focus()
            })
        })
    </script>
{% endblock %}
